// Draft US Web Design Standards
@import '../../node_modules/uswds/dist/scss/uswds.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import './mermaid';
@import './shell';

.scuttle-stage,
.scuttle-legend {
  background: $theme-color-base-lightest;

  font-family: $theme-font-role-body;

  .label {
    color: #ffffff;

    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.scuttle-stage {
  overflow-x: scroll;
  min-height: 999px;
}

.scuttle-legend .edgeLabel {
  line-height: 1.75;
}

.cluster {
  rect {
    fill: $theme-color-base-lightest !important;
    stroke: $theme-color-primary !important;
    stroke-width: 2px !important;
  }

  text {
    @include h4;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
      'Arial', sans-serif;
    font-size: 17px;
  }
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: $theme-color-primary;
  stroke: $theme-color-primary-darker;
  stroke-width: 2px;
}

.node .label {
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  color: rgb(255, 255, 255);
}

.edgePath .path {
  stroke: color('primary-darker') !important;
  stroke-width: 2px !important;
}

.edgePath marker path {
  fill: color('primary-darker') !important;
}

.edgeLabel {
  background-color: #ffffff;
  border: #ffffff 5px solid;
  color: color('ink');
  &:empty {
    border: none;
  }
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto',
    'Arial', sans-serif;
  font-family: 17px;
}

rect {
  fill: color('primary');
  stroke: color('primary-darker');
  stroke-width: 2px;

  &.note {
    fill: color('primary-lighter');
    stroke: color('primary-light');
    stroke-width: 2px;
  }

  &.labelBox {
    fill: color('primary-dark');
    stroke: color('primary');
  }

  &.actor {
    fill: color('primary');
    stroke: color('primary-darker');
  }
}

#crosshead,
#arrowhead {
  path {
    fill: color('primary-darker');
  }
}

line {
  &[class^='messageLine'],
  &.actor-line {
    fill: color('primary-darker');
    stroke: color('primary-darker');
    stroke-width: 2px;
  }

  &.loopLine {
    fill: color('primary-darker');
    stroke: color('primary');
    stroke-width: 2px;
  }
}

text {
  &.messageText {
    font-family: $theme-font-role-code;
    text-shadow: 2px 2px 0 #ffffff, 1px 1px 0 color('base-light');
    fill: color('primary-darker');
    font-size: 1rem;
  }

  &.actor {
    fill: #ffffff;
  }

  &.noteText {
    fill: color('base');
    font-size: 1.25rem;
  }

  &.labelText {
    font-family: $theme-font-role-alt;
    fill: color('base-lighter');
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  &.loopText {
    font-family: $theme-font-role-alt;
    font-size: 1rem;
    font-style: oblique;
  }
}
