// Draft US Web Design Standards
@import '../../node_modules/uswds/dist/scss/uswds.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import './mermaid';
@import './shell';

.scuttle-stage,
.scuttle-legend {
  background: $theme-color-base-lightest;

  font-family: $theme-font-role-body;

  .label {
    color: #ffffff;

    overflow-wrap: break-word;
    word-break: break-word;

  }

}

.scuttle-stage {
  overflow-x: scroll;
  min-height: 999px;
}

.scuttle-legend .edgeLabel {
  line-height: 1.75;
}

.cluster {

  rect {
    fill: $theme-color-base-lightest !important;
    stroke: $theme-color-primary !important;
    stroke-width: 2px !important;
  }

  text {
    @include h4;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 17px;
  }

}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: $theme-color-primary;
  stroke: $theme-color-primary-darker;
  stroke-width: 2px;
}

.node .label {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: rgb(255, 255, 255);
}

.edgePath .path {
  stroke: $theme-color-primary-darker !important;
  stroke-width: 2px !important;
}

.edgePath marker path {
  fill: $theme-color-primary-darker !important;
}

.edgeLabel {
  background-color: #ffffff;
  border: #ffffff 5px solid;
  color: $theme-color-base-ink;
  &:empty {
    border: none;
  }
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-family: 17px;
}

rect {

  fill: $theme-color-primary;
  stroke: $theme-color-primary-darker;
  stroke-width: 2px;

  &.note {

    fill: $theme-color-primary-lighter;
    stroke: $theme-color-primary-light;
    stroke-width: 2px;

  }

  &.labelBox {
    fill: $theme-color-primary-dark;
    stroke: $theme-color-primary;
  }

  &.actor {

    fill: $theme-color-primary;
    stroke: $theme-color-primary-darker;

  }

}

#crosshead,
#arrowhead{

  path {

    fill: $theme-color-primary-darker;

  }

}

line {

  &[class^=messageLine],
  &.actor-line {

    fill: $theme-color-primary-darker;
    stroke: $theme-color-primary-darker;
    stroke-width: 2px;

  }

  &.loopLine {

    fill: $theme-color-primary-darker;
    stroke: $theme-color-primary;
    stroke-width: 2px;

  }

}

text {

  &.messageText {

    font-family: $theme-font-role-code;
    text-shadow: 2px 2px 0 #ffffff, 1px 1px 0 $theme-color-base-light;
    fill: $theme-color-primary-darker;
    font-size: 1rem;

  }

  &.actor {
    fill: #ffffff;
  }

  &.noteText {
    fill: $theme-color-base;
    font-size: 1.25rem;
  }

  &.labelText {
    font-family: $theme-font-role-alt;
    fill: $theme-color-base-lighter;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  &.loopText {
    font-family: $theme-font-role-alt;
    font-size: 1rem;
    font-style: oblique;
  }

}
